<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/fleur.jpeg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>A Tasty Place (Delicious!)</h1>
            <span class="subheading">a modified start bootstrap theme</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
                      {% for post in posts %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <h2 class="section-heading">{{ post['title'] }}</h2>
          <p class="text">{{ post['subtitle'] }}</p>
          <a href='{{ url_for("fetch_post", num=post["id"]) }}'>Read it</a>
        </div>
    </div>
    </div>

  <hr>
    {% endfor %}
  </article>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
  </div>
</body>
  {% include 'footer.html' %}

</html>
